[
  {rabbitmq_shovel,
  [ {shovels, [ {shovel_put,
                  [ {source,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://" ]},
                        {declarations, [ {'queue.declare',
                                            [{queue,<<"AZQueueData">> },  durable]},
				            {'exchange.declare',
                                            [ {exchange, <<"amq.topic">>},
                                              {type, <<"topic">>},
                                              durable
                                            ]},
                                          {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"AZQueueData">>},
					 {routing_key, <<"AZQueueDataRoute">>}
                                            ]}
                                          ]},
                        {queue, <<"AZQueueData">>},
                        {prefetch_count, 1}
                      ]},
                    {destination,
                      [ {protocol, amqp091},
                        {uris, ["amqp://testuseer:jiberissh789@xx.xx.xx.xx:5672/remote"]},
                        {declarations, [
					{'queue.declare',
                                            [{queue, <<"AZQueueData">> },  durable]},
					 {'queue.bind',
                                            [ {exchange, <<"amq.topic">>},
                                              {queue,    <<"AZQueueData">>},
					      {routing_key, <<"AZQueueDataRoute">>}
                                            ]}
					 ]},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true}
                          ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 15}
                  ]}
		
		
		
              ]}
  ]}].