services:
  # 1. MySQL Service
  grafana_db:
    image: mysql:8.0
    container_name: grafana_db
    deploy:
      resources:
        limits:
          cpus: '0.6'
          memory: 1GB
    restart: always
    # Reads environment variables from the .env file
    env_file:
      - ./.env 
    environment:
      - MYSQL_DATABASE=grafana
      - MYSQL_USER=grafana
      # Read password from .env
      - MYSQL_PASSWORD=${DB_PASSWORD} 
      # Read password from .env (for root)
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD} 
    volumes:
      - vol_mysql_data:/var/lib/mysql
    networks:
      - net_grafana_mysql

  # 2. Grafana Service
  grafana:
    build:
      context: .
      dockerfile: Dockerfile_grafana
    container_name: grafana
    depends_on:
      grafana_db:
        condition: service_started
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 800MB
    # Reads environment variables from the .env file
    env_file:
      - ./.env 
    restart: always
    ports:
      - '443:3000'
    volumes:
      - vol_grafana_data:/var/lib/grafana
    environment:
      # SSL Configuration
      - GF_SERVER_PROTOCOL=https
      - GF_SERVER_CERT_FILE=/etc/grafana/ssl/grafana.crt
      - GF_SERVER_CERT_KEY=/etc/grafana/ssl/grafana.key

      # DB Connection (Reads from .env)
      - GF_DATABASE_TYPE=mysql
      - GF_DATABASE_HOST=grafana_db:3306
      - GF_DATABASE_NAME=grafana
      - GF_DATABASE_USER=grafana
      - GF_DATABASE_PASSWORD=${DB_PASSWORD} # <-- Reads password from .env

      # Admin User Setup (Reads from .env)
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD} # <-- Reads password from .env
      
    networks:
      - net_grafana_mysql

volumes:
  vol_grafana_data:
  vol_mysql_data:

networks:
  net_grafana_mysql: